@import "./common/_index.scss";
@import "./components/_index.scss";

.container {
	max-width: 1155px;
	padding: 0 15px;
	margin: 0 auto;
}
.row {
	display: flex;
	flex-wrap: wrap;
}

h1 {
  color: #1F2E35;
  font-weight: 700;
  font-size: 48px;
}

span {
	color: $secondary-color;
}
h2 {
	font-size: 32px;
	font-weight: 500;
	line-height: 43px;
}
h3 {
	font-weight: 500;
	font-size: 28px;
	line-height: 37px;
	color: #EE4248;
}


