.article {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 110px;
}
.article__text h1 {
  line-height: 64px
}
.article__text {
  width: 520px;
  height: 380px;
}
.article__text p {
  font-weight: 400;
  font-size: 20px;
  padding-top: 24px;
  margin-bottom: 24px;
}
.btn {
  background: $secondary-color;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  width: 161px;
  height: 53px;
  color: #FFFFFF;
  font-weight: 400;
  font-size: 20px;
}
.article:nth-child(2) {
  flex-direction: row-reverse;
  align-items: flex-end;
  padding-bottom: 200px;

  .article__text p{
    line-height: 27px;
  }
}
.article:nth-child(2) {
  background-color: #F7F7F7;
  max-width: 1155px;
	padding: 0 15px;
	margin: 0 auto;

  margin-top: 117px;
}
.services h2{
  text-align: center;
  padding-top: 112px;
  margin-bottom: 58px;
}
.services__list {
  display: flex;
  justify-content: space-between;
}
.services__item {
  width: 363px;
  height: 360px;
}
.services__item h3 {
  margin: 15px 0;
}
.services__item p {
  margin-bottom: 15px;
  font-size: 18px;
}

.footer_items {
  display: flex;
  margin-bottom: 10px;
}
.footer_item {
}
.footer_item h6 {
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  margin: 10px 0;
}
.footer_item p {
  font-weight: 300;
  font-size: 18px;
  line-height: 27px;
  width: 317px;
  height: 54px;
}
.footer_item h3 {
  margin-bottom: 15px;
}
.footer_item:first-child {
  margin-right: 47px;
}
.last {
  background-color: #EE4248;
  display: flex;
  color: #FFFFFF;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  height: 64px;
  text-align: center;
  align-items: center;
}
